/* * {
  /* margin: 0;
  padding: 0; */
  /* background-color: #5a81a2; */
/* } */ 
.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color:#5a81a2 ;
}

.welcome {
  color:white;
}

.score {
  font-size: 30px;
  font-weight: bold;
  color:#e9d17a ;
}

.increase {
  height: 5vh;
  width: 5vw;
  font-size: 10px;
  color: black;
  background-color: #6191b5;
}

.decrease {
  height: 5vh;
  width: 5vw;
  font-size: 10px;
  color: black;
  background-color: #fe938c;
}

.reset {
  height: 5vh;
  width: 5vw;
  font-size: 10px;
  color: black;
  background-color: #e71d37;
}

.getTrivia {
  margin: 10px;
  height: 5vh;
  width: 5vw;
  font-size: 10px;
  color: black;
  background-color: #e9d17a;
}

.getAnswer {
  width: 15vw;
  height: 10vh;
  font-size: 30px;
  color: black;
  background-color: #1a2650;
}

.category {
  color: #e9d17a;
}

.points {
  color: #e9d17a;
}

